<div class="checkout-page checkout-page-complete">
  <nav class="clearfix">
    <a href="/" class="checkout-page__logo"
      style="background-image: url(https://www.sbmforsakring.se/sites/all/themes/mysafety/graphics/logo-sbm.svg)">
      <span>SBM Försäkring AB</span>
    </a>
    <a href="/">Tillbaka till startsidan</a>
  </nav>
  <!-- <div class="checkout-page-complete__img"></div>  -->

  <div class="checkout-page-complete__text-content">
    <div class="checkout-completion-message">
      <p>TACK FÖR DITT KÖP
      </p>
      <p>Du är nu något säkrare i din vardag! En bekräftelse har skickats
        till&nbsp;<strong>benjaminberglund@gmail.com</strong>. Inom några dagar kommer du att få hem din faktura, mer
        information och eventuellt försäkringsbrev i din brevlåda.</p>
      <p>&nbsp;</p>
      <h2>&nbsp;</h2>
    </div>
  </div><!-- .checkout-page-complete__text-content -->

  <div class="commerce-views-pane-view-content-wrapper">
    <div class="commerce-views-pane-view-content">
      <div class="checkout-page-complete__order-summary">
        <h2>Din beställning:</h2>
        <p class="checkout-page-complete__order-summary__labels">Försäkring/Produkt<span>Pris</span></p>
        <p class="checkout-page-complete__order-summary__product-name">BilPlus<span>89,00 kr/Månad</span></p>
        <div class="checkout-page-complete__order-summary__price">
          <p>Ditt pris:<span>89,00 kr/Månad</span></p>
          <p>Totalt pris för 12 månader<span>1 068,00 kr</span></p>
        </div><!-- .checkout-page-complete__order-summary__price -->
      </div><!-- .checkout-page-complete__order-summary -->

      <h2 class="h1">Fler försäkringar för dig</h2>
      <div class="clearfix">
        <section class="checkout-page-complete__teaser">
          <div class="checkout-page-complete__teaser__img"
            style="background-image: url(/sites/sbmforsakring.se/files/styles/checkout_complete_teaser/public/product/bilglasforsegling2_2560x1024.jpg?itok=v366P4bE)">
          </div>
          <div class="checkout-page-complete__teaser__content">
            <h3 class="h2">För bättre sikt när du kör bil</h3>
            <p class="checkout-page-complete__teaser__content__subtitle">Bilglasförsegling</p>
            <p class="checkout-page-complete__teaser__content__price">169,00 kr</p>
            <a href="/sbmforsakring.se/bilglasforsegling" class="checkout-button" target="_blank">Läs mer</a>
          </div><!-- .checkout-page-complete__content -->
        </section><!-- .checkout-page-complete__teaser -->
        <section class="checkout-page-complete__teaser">
          <div class="checkout-page-complete__teaser__img"
            style="background-image: url(/sites/sbmforsakring.se/files/styles/checkout_complete_teaser/public/sbm_vardokrishjalp_2560x1024.jpg?itok=LJicnFIq)">
          </div>
          <div class="checkout-page-complete__teaser__content">
            <h3 class="h2">Vård och krishjälp</h3>
            <p class="checkout-page-complete__teaser__content__subtitle">En tryggare väg tillbaka</p>
            <p class="checkout-page-complete__teaser__content__price">448,00 kr/År</p>
            <a href="/forsakringar/en-tryggare-vag-tillbaka" class="checkout-button" target="_blank">Läs mer</a>
          </div><!-- .checkout-page-complete__content -->
        </section><!-- .checkout-page-complete__teaser -->
        <section class="checkout-page-complete__teaser">
          <div class="checkout-page-complete__teaser__img"
            style="background-image: url(/sites/sbmforsakring.se/files/styles/checkout_complete_teaser/public/sbm_vaghjalp_triangel_2560x1024.jpg?itok=Sz4LFa-x)">
          </div>
          <div class="checkout-page-complete__teaser__content">
            <h3 class="h2">När du behöver hjälp på vägen</h3>
            <p class="checkout-page-complete__teaser__content__subtitle">Väghjälp Bil</p>
            <p class="checkout-page-complete__teaser__content__price">59,00 kr/Månad</p>
            <a href="/forsakringar/vagassistans/vaghjalp-bil" class="checkout-button" target="_blank">Läs mer</a>
          </div><!-- .checkout-page-complete__content -->
        </section><!-- .checkout-page-complete__teaser -->
      </div>
    </div>
  </div>
</div>