<div class="checkout-page">
  <nav class="clearfix">
    <a href="/" class="checkout-page__logo"
      style="background-image: url(https://www.sbmforsakring.se/sites/all/themes/mysafety/graphics/logo-sbm.svg)">
      <span>SBM Försäkring AB</span>
    </a>
  </nav>

  <div class="commerce_order_wrapper checkout-page__summary reset">
    <div class="checkout-page__summary__content clearfix">
      <h1 class="">Din beställning:</h1>
      <p class="checkout-page__summary__title">Väghjälp Bil</p>
      <div class="checkout-page__summary__img"
        style="background-image: url(/sites/sbmforsakring.se/files/styles/cart_product_image/public/insurance/VaghjalpBil_150x180.jpg?itok=rsSzNTC9)">
      </div>
      <div class="checkout-page__summary__text">
        <p class="checkout-page__summary__text__price">59,00 kr/Månad</p>
      </div>
      <div class="item-list">
        <ul>
          <li class="first">Hjälp dygnet runt</li>
          <li>Gäller i hela Europa</li>
          <li>0 kr i självrisk</li>
          <li class="last">Ersättning för hyrbil, hotell eller hemresa</li>
        </ul>
      </div>
    </div>

    <div class="checkout-page__summary__price">
      <p class="clearfix">Ditt pris:<span>59,00 kr/Månad</span></p>
      <p class="clearfix">Totalt pris för 12 månader<span>708,00 kr</span></p>
    </div>
  </div>
  <div class="commerce_order_wrapper checkout-page__summary" style="position:fixed !important; opacity: 0; z-index: -1"
    tabindex="-1">
    <div class="checkout-page__summary__content clearfix">
      <h1 class="">Din beställning:</h1>
      <p class="checkout-page__summary__title">Väghjälp Bil</p>
      <div class="checkout-page__summary__img"
        style="background-image: url(/sites/sbmforsakring.se/files/styles/cart_product_image/public/insurance/VaghjalpBil_150x180.jpg?itok=rsSzNTC9)">
      </div>
      <div class="checkout-page__summary__text">
        <p class="checkout-page__summary__text__price">59,00 kr/Månad</p>
      </div>
      <div class="item-list">
        <ul>
          <li class="first">Hjälp dygnet runt</li>
          <li>Gäller i hela Europa</li>
          <li>0 kr i självrisk</li>
          <li class="last">Ersättning för hyrbil, hotell eller hemresa</li>
        </ul>
      </div>
    </div>

    <div class="checkout-page__summary__price">
      <p class="clearfix">Ditt pris:<span>59,00 kr/Månad</span></p>
      <p class="clearfix">Totalt pris för 12 månader<span>708,00 kr</span></p>
    </div>
  </div>

  <div class="ssn_wrapper checkout-page__ssn">
    <h2>Dina uppgifter</h2>
    <div class="campaign-terms">
      <p>Din information skyddas och krypteras genom SSL-certifikat.</p>
    </div><!-- .campaign-terms -->
    <form action="/checkout/44771" method="post" id="mysafety-store-checkout-ssn-form" accept-charset="UTF-8">
      <div><input type="hidden" name="form_build_id" value="form-sAr6We_whz414MY6fO4QuMEUN7J7_9TwankWnPlcuSY">
        <input type="hidden" name="form_id" value="mysafety_store_checkout_ssn_form">
        <div class="form-item form-type-textfield form-item-regnr">
          <label for="edit-regnr">Ditt registreringsnummer (ABC123) <span class="form-required"
              title="är obligatoriskt">*</span></label>
          <input autocomplete="off" type="text" id="edit-regnr" name="regnr" value="" size="20" maxlength="6"
            class="form-text required">
        </div>
        <div class="form-item form-type-textfield form-item-ssn-field">
          <label for="edit-ssn-field">Personnummer (ÅÅÅÅMMDDXXXX) <span class="form-required"
              title="är obligatoriskt">*</span></label>
          <input autocomplete="off" type="text" id="edit-ssn-field" name="ssn_field" value="" size="20" maxlength="12"
            class="form-text required">
        </div>
        <div class="campaign-info js-toggle-element">
          <div class="campaign-info--bubble">
            <div class="campaign-info--bubble--content">
              <button type="button" name="button"
                class="campaign-info--bubble--content--close"><span>Close</span></button>
              <p>Med hjälp av ditt personnummer hämtas ditt namn och din folkbokföringsadress automatiskt. Ditt
                personnummer behövs även för att vi ska kunna registrera beställningen.</p>
            </div>
            <div class="campaign-info--bubble--arrow"></div>
          </div><!-- .campaign-info-bubble -->
          <button type="button" name="button" class="campaign-info--link"><span>Varför ber vi om ditt
              personnummer</span></button>
        </div><!-- .campaign-info --><input type="submit" id="edit-ssn-button" name="op" value="Hämta uppgifter"
          class="form-submit">
        <p class="checkout-page__required-info">*Obligatoriskt fält</p>
      </div>
    </form>
  </div>

  <div class="form_wrapper checkout-page__form">
    <p class="checkout-page__form__snn-info">Vi hämtar in din folkbokföringsadress genom ditt personnummer.<br>
      Stämmer inte adressen? Prova att kontrollera det angivna personnumret och fyll i på nytt. </p>
    <div class="checkout-page__form__user-info clearfix">
      <div>
        <h3>Personnummer</h3>

      </div>
      <div>
        <h3>Faktureringsinformation</h3>

      </div>
    </div>
    <form class="disabled" action="/checkout/44771" method="post" id="commerce-checkout-form-checkout"
      accept-charset="UTF-8">
      <div>
        <div class="form_wrapper">
          <fieldset class="customer_profile_car_insurance form-wrapper" id="edit-customer-profile-car-insurance">
            <legend><span class="fieldset-legend">Bil och personuppgifter</span></legend>
            <div class="fieldset-wrapper"></div>
          </fieldset>
          <fieldset class="account form-wrapper" id="edit-account">
            <legend><span class="fieldset-legend">Övrig information</span></legend>
            <div class="fieldset-wrapper">
              <div id="account-login-container">
                <div id="edit-account-login" class="form-wrapper">
                  <div class="form-item form-type-textfield form-item-account-login-mail form-disabled">
                    <label for="edit-account-login-mail">E-post <span class="form-required"
                        title="är obligatoriskt">*</span></label>
                    <input autocomplete="email" disabled="disabled" type="text" id="edit-account-login-mail"
                      name="account[login][mail]" value="" size="60" maxlength="128" class="form-text required">
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="commerce_user_profile_pane form-wrapper" id="edit-commerce-user-profile-pane">
            <legend><span class="fieldset-legend">User Profile</span></legend>
            <div class="fieldset-wrapper">
              <div class="field-type-text field-name-field-user-phone field-widget-text-textfield form-wrapper"
                id="edit-commerce-user-profile-pane-field-user-phone">
                <div id="commerce-user-profile-pane-field-user-phone-add-more-wrapper">
                  <div
                    class="form-item form-type-textfield form-item-commerce-user-profile-pane-field-user-phone-und-0-value form-disabled">
                    <label for="edit-commerce-user-profile-pane-field-user-phone-und-0-value">Mobil <span
                        class="form-required" title="är obligatoriskt">*</span></label>
                    <input class="text-full form-text required" disabled="disabled" type="text"
                      id="edit-commerce-user-profile-pane-field-user-phone-und-0-value"
                      name="commerce_user_profile_pane[field_user_phone][und][0][value]" value="" size="60"
                      maxlength="255">
                  </div>
                </div>
              </div>
              <div
                class="field-type-list-boolean field-name-field-marekting-emails field-widget-options-onoff form-wrapper"
                id="edit-commerce-user-profile-pane-field-marekting-emails"><label class="campaign-checkbox"><span
                    class="campaign-checkbox--label">Nej tack, jag vill inte ha erbjudanden via e-post.</span><input
                    disabled="disabled" type="checkbox" id="edit-commerce-user-profile-pane-field-marekting-emails-und"
                    name="commerce_user_profile_pane[field_marekting_emails][und]" value="1" class="form-checkbox"><span
                    class="campaign-checkbox--checkmark"></span></label></div>
              <div
                class="field-type-list-boolean field-name-field-marekting-calls field-widget-options-onoff form-wrapper"
                id="edit-commerce-user-profile-pane-field-marekting-calls"><label class="campaign-checkbox"><span
                    class="campaign-checkbox--label">Nej tack, jag vill inte ha erbjudanden via sms.</span><input
                    disabled="disabled" type="checkbox" id="edit-commerce-user-profile-pane-field-marekting-calls-und"
                    name="commerce_user_profile_pane[field_marekting_calls][und]" value="1" class="form-checkbox"><span
                    class="campaign-checkbox--checkmark"></span></label></div>
            </div>
          </fieldset>
          <fieldset class="checkout-buttons form-wrapper" id="edit-buttons">
            <div class="fieldset-wrapper">
              <p class="checkout-page__form__payment-info">Efter bekräftat köp kommer en faktura att skickas hem till
                dig.</p><input
                class="checkout-continue element-invisible form-submit form-button-disabled checkout-processed"
                disabled="disabled" type="submit" id="edit-continue" name="op" value="Bekräfta din beställning"><span
                class="checkout-processing element-invisible"></span><input
                class="checkout-page__back-button form-submit" type="submit" id="edit-cancel" name="op"
                value="Tillbaka"><button id="bankid-login-button"
                class="login-button login-button--bankid login-button--lang-sv" type="button"
                disabled="disabled"><span>TECKNA HÄR VIA BANKID</span></button>
              <p class="login-button__info-text">Har du inte BankID eller enbart webbläsaren Internet Explorer? Ring oss
                på <a href="tel:0771615615">0771-615 615</a></p>
            </div>
          </fieldset>
          <input type="hidden" name="form_build_id" value="form-OxF_Go5r9sSo3UXAPYo2GViCj3IGd99qSU30S2GfQII">
          <input type="hidden" name="form_id" value="commerce_checkout_form_checkout">
          <div class="form-item form-type-textarea form-item-bankid-token">
            <textarea id="bankid-token" class="element-invisible form-textarea" name="bankid_token" cols="60"
              rows="5"></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="campaign-terms js-toggle-element">
      <div class="campaign-terms--bubble">
        <div class="campaign-terms--bubble--content">
          <button type="button" name="button" class="campaign-terms--bubble--content--close"><span>Stäng</span></button>
          <p></p>
          <p><strong>Ångerrätt&nbsp;</strong><br> Du som kund har alltid rätt att utnyttja din ångerrätt enligt lagen
            (2005:59) om distansavtal och avtal utanför affärslokaler. Med hänvisning till ångerrätten har du som kund
            möjlighet att inom 14 dagar från det att avtalet ingicks frånträda avtalet. För att utnyttja din ångerrätt
            och frånträda avtalet kontaktar du SBM Försäkring via telefon på telefonnummer 0771-615 615, via email
            till&nbsp;<a href="mailto:info@sbmforsakring.se">info@sbmforsakring.se</a>, via brev till SBM Försäkring AB,
            Box 27142, 102 52 Stockholm eller så använder du det standardformulär som finns att hämta på&nbsp;<a
              href="https://www.mysafety.se/checkout/19266/www.konsumentverket.se">www.konsumentverket.se</a>.&nbsp;<br>
            <br> Vid utnyttjande av ångerrätten är du berättigad till återbetalning av eventuellt erlagd premie inom 30
            dagar. Har du redan utnyttjat försäkringen/tjänsten eller produkten inom ovanstående ångerfrist eller anmält
            en skada bortfaller ångerrätten.&nbsp;<br> <br><strong> Fakturering, påminnelser m.m.&nbsp;</strong><br>
            Sker inte betalning i tid har SBM rätt att fordra ränta enligt räntelagen från den i räkningen angivna
            förfallodagen samt ersättning för de kostnader som är förenade med dröjsmålet. Hit räknas kostnader för
            skriftlig betalningspåminnelse samt kostnader för verkställighet av betalnings- eller annan förpliktelse.
          </p>
          <p><strong>Hantering av personuppgifter</strong></p>
          <ol>
            <li>SBM Försäkring AB (556522-0612) är personuppgiftsansvarig för den behandling som sker av dina
              personuppgifter efter att du har fyllt i formuläret. Vi hämtar automatiskt dina adressuppgifter enligt
              folkbokföringen via vår samarbetspartner, så att vi kan ha aktuella adressuppgifter förifyllda för din och
              vår säkerhet och för att förenkla för dig som kund. Vi stämmer även kontinuerligt av bilens
              registreringsnummer med de uppgifter som förekommer i Vägtrafikregistret, i enlighet med Lag (2001:558) om
              vägtrafikregister.</li>
            <li>När du aktiverar försäkringen skickas dina uppgifter till försäkringsgivaren i syfte att teckna
              försäkringen som du har valt. Under avtalsperioden kan uppgifterna också delas till andra i den mån vi
              behöver det för att leverera tjänsten (exempelvis fakturerings- och distributionspartners).</li>
            <li>För fullständig information om på vilket sätt, hur länge och i vilka syften vi behandlar dina
              personuppgifter samt hur du går till väga för att tillvarata dina rättigheter under GDPR, se vår
              fullständiga&nbsp;<a href="https://www.sbmforsakring.se/om-personuppgifter/personuppgiftspolicy"
                target="_blank" rel="noopener noreferrer">personuppgiftspolicy</a>.<u></u></li>
          </ol>
          <p></p>
        </div>
        <div class="campaign-terms--bubble--arrow"></div>
      </div><!-- .campaign-terms-bubble -->
      <button type="button" name="button" class="campaign-terms--link"><span>Behandling av personuppgifter och allmänna
          villkor</span></button>
    </div><!-- .campaign-terms -->
  </div>
</div>