<main class="front-page-wrapper">

	<div class="node node-front-page front-one-header view-mode-full  contextual-links-region">

		<div class="hero-wrapper scene">
			<div class="owl-carousel owl-loaded owl-drag">


				<div class="owl-stage-outer">
					<div class="owl-stage"
						style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 498px;">
						<div class="owl-item active" style="width: 498px;">
							<div
								class="hero__item entity entity-field-collection-item field-collection-item-field-front-header color-orange view-mode-full  contextual-links-region">
								<div class="hero-image-wrapper layer owl-item"
									style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/front_page_hero/public/front/PariBil_header.jpg?itok=rJTg20K9);">
									<img typeof="foaf:Image"
										src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/front_page_hero/public/front/PariBil_header.jpg?itok=rJTg20K9"
										width="2560" height="1024"> </div>
								<div class="hero-content-wrapper grid-barrier">
									<div class="hero-content">
										<div class="hero__title">
											<h1>Trygghet för bilägare</h1>
										</div>

										<div class="hero__text">
											<h3>Försäkringar för dig som är ute på vägarna</h3>
										</div>

										<div class="hero__links">
											<a href="/forsakringar" rel="noreferrer noreferrer">SE ALLA VÅRA
												FÖRSÄKRINGAR</a> </div>
									</div>
								</div>
								<div class="field-campaign-bg-color">

									Orange </div>
							</div>
						</div>
					</div>
				</div>
				<div class="owl-nav disabled">
					<div class="owl-prev">prev</div>
					<div class="owl-next">next</div>
				</div>
				<div class="owl-dots disabled"></div>
			</div>
			<div class="hero__dots"></div>
		</div>

		<div class="highlights-wrapper grid-barrier">
			<div class="highlights">
				<div class="node node-puff view-mode-full image-puff bg-red contextual-links-region" style="">

					<a class="puff__link" href="/vagassistansforsakring">
						<div class="puff__img"
							style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/varningstriangel_SBM-f%C3%B6rs%C3%A4kring_SMALL.jpg?itok=1Hp51ShS);">
							<img typeof="foaf:Image"
								src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/varningstriangel_SBM-f%C3%B6rs%C3%A4kring_SMALL.jpg?itok=1Hp51ShS"
								width="1200" height="675" alt="SBM Försäkring Väghjälp Bil, Varningstriangel"
								title="SBM Försäkring Vägassistansförsäkring tillkampanjpris"> </div>

						<div class="flair puff__flair-text">
							Väghjälp bil </div>

						<div class="title">

							<h3>Vi tar dig hela vägen fram</h3>
						</div>

					</a> </div>
				<div class="node node-puff view-mode-full image-puff bg-yellow contextual-links-region" style="">

					<a class="puff__link" href="/forsakringar/bilplus">
						<div class="puff__img"
							style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/Puff_BilPlus_par_320x230.jpg?itok=njpNjOYi);">
							<img typeof="foaf:Image"
								src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/Puff_BilPlus_par_320x230.jpg?itok=njpNjOYi"
								width="1200" height="675"> </div>

						<div class="flair puff__flair-text">
							BilPlus </div>

						<div class="title">

							<h3>Undvik självrisker vid bilskada!</h3>
						</div>

					</a> </div>
				<div class="node node-puff view-mode-full image-puff bg-purple contextual-links-region" style="">

					<a class="puff__link" href="/forsakringar/bilnyckel">
						<div class="puff__img"
							style="background-image: url(/sites/sbmforsakring.se/files/styles/puff_image/public/sbm_bilnyckelforsakring_2560x1024.jpg?itok=D-dxejSa);">
							<img typeof="foaf:Image"
								src="/sites/sbmforsakring.se/files/styles/puff_image/public/sbm_bilnyckelforsakring_2560x1024.jpg?itok=D-dxejSa"
								width="1200" height="675" alt="sbm bilnyckelförsäkring"> </div>

						<div class="flair puff__flair-text">
							Nyckelförsäkring </div>

						<div class="title">

							<h3>Låt inte stulna nycklar skapa oro</h3>
						</div>

					</a> </div>
				<div class="node node-puff view-mode-full image-puff bg-green contextual-links-region" style="">

					<a class="puff__link" href="/forsakringar/bilklok">
						<div class="puff__img"
							style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/sbm_bilklok_2560x1024.jpg?itok=4cdTB-4R);">
							<img typeof="foaf:Image"
								src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/sbm_bilklok_2560x1024.jpg?itok=4cdTB-4R"
								width="1200" height="675" alt="SBM BilKlok" title="SBM BilKlok"> </div>

						<div class="flair puff__flair-text">
							BilKlok </div>

						<div class="title">

							<h3>För dig som privatleasar din bil!</h3>
						</div>

					</a> </div>
			</div>
		</div>


		<div class="quick-links-wrapper">
			<div class="quick-links-image column">

				<div class="image-container"
					style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/large_image/public/front/sbm_kundservice5_2560x1024.jpg?itok=w7uImMtZ);">
					<img typeof="foaf:Image"
						src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/large_image/public/front/sbm_kundservice5_2560x1024.jpg?itok=w7uImMtZ"
						width="1800" height="638"> </div>
			</div>
			<div class="quick-links-content column">

				<div class="quick-links-title">
					<h2>Vad vill du göra?</h2>
				</div>

				<div class="quick-links-links">
					<div class="quick-link">
						<a href="/kundservice/kontakta-oss" rel="noreferrer noreferrer">Kontakta
							kundservice – OBS! Just nu hög belastning</a> </div>
					<div class="quick-link">
						<a href="/kundservice/anmal-skada" rel="noreferrer noreferrer">Anmäl skada</a>
					</div>
					<div class="quick-link">
						<a href="/trygghet-trafik" rel="noreferrer noreferrer">Senaste nytt på Trygghet
							&amp; Trafik</a> </div>
				</div>
			</div>
		</div>
	</div>
	<div class="updates-wrapper grid-barrier">
		<div class="updates">
			<h2 class="section-heading">Nyheter</h2>

			<div class="updates-layout">

				<div class="posts-listing">
					<div class="list-item">
						<div class="node node-post view-mode-block_teaser  contextual-links-region">

							<div class="post__details post-type-2">

								<div class="post__type">
									Pressmeddelande </div>
								<div class="separator">&nbsp;-&nbsp;</div>

								<div class="post__date">
									02 Juli 2020 </div>
							</div>

							<div class="post__title">

								<div class="title-field">

									<h4><a href="/bilsemesterkandis">Fredrik Lindström är favoritsällskapet på bilsemestern</a></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="node node-post node-promoted view-mode-block_teaser  contextual-links-region">

							<div class="post__details post-type-1">

								<div class="post__type">
									Blogg </div>
								<div class="separator">&nbsp;-&nbsp;</div>

								<div class="post__date">
									31 Mars 2020 </div>
							</div>

							<div class="post__title">

								<div class="title-field">

									<h4><a href="/pressrum/sa-tvattar-du-bilen-miljovanligt">Så tvättar du bilen miljövänligt</a></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="node node-post view-mode-block_teaser  contextual-links-region">

							<div class="post__details post-type-1">

								<div class="post__type">
									Blogg </div>
								<div class="separator">&nbsp;-&nbsp;</div>

								<div class="post__date">
									04 December 2019 </div>
							</div>

							<div class="post__title">

								<div class="title-field">

									<h4><a href="/blogmikaelatips">Racingstjärnan Mikaelas bästa tips för att köra säkert i vinter</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="node node-post view-mode-block_teaser  contextual-links-region">

							<div class="post__details post-type-1">

								<div class="post__type">
									Blogg </div>
								<div class="separator">&nbsp;-&nbsp;</div>

								<div class="post__date">
									05 September 2019 </div>
							</div>

							<div class="post__title">

								<div class="title-field">

									<h4><a href="/pressrum/bakatvant-ar-ratt-for-sma-barn">Bakåtvänt är rätt för små barn</a></h4>
								</div>
							</div>
						</div>
					</div>


					<div class="views-more">
						<a href="/trygghet-trafik">
							Läs mer</a>
					</div>
				</div>

				<div class="more-updates">
				</div>
			</div>
		</div>
	</div>

	<div class="post-content-wrapper grid-barrier">
		<div class="post-content">
			<div class="service__blocks">
				<div class="customer__service__number service__block">
					<div class="block__content">
						<div class="service__label">Har du frågor? Ring kundservice</div>
						<div class="service__number"><a href="tel:0771615615">0771-615 615</a></div>
						<div class="service__opening-hours">Vardagar 9–17</div>
					</div>
				</div>
				<div class="customer__emergency__number service__block">
					<div class="block__content">
						<div class="service__label">Larmnummer Väghjälp</div>
						<div class="service__number"><a href="tel:0771888990">0771-88 89 90</a></div>
						<div class="service__opening-hours">Dygnet runt - <span class="enhance">Från utlandet <a
									href="tel:+46771888990">+46 771 88 89 90</a></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>