<div class="hero">
  <div class="page-hero grid-barrier clearfix contextual-links-region image-hero">
    <div class="hero__image hero__image—-loaded"
      style="background-image: url(&quot;https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/page_hero/public/page/sbm_vaghjalpBil2_2560x1024.jpg?itok=2DoFunil&quot;);"
      data-src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/page_hero/public/page/sbm_vaghjalpBil2_2560x1024.jpg?itok=2DoFunil">
    </div>
    <div class="hero__wrapper hero__wrapper-page">
      <div class="hero__wrapper__content clearfix">

        <div class="page__title">
          <h1>Våra vägassistansförsäkringar</h1>
        </div>

        <div class="page__header-text">
          En trygghet för alla på väg – välj den som passar dig bäst </div>
      </div>
    </div>
  </div>
</div>

<main class="content-wrapper grid-barrier">
  <div class="content-wrapper-inner">
    <article class="content">

      <div class="content__grid">
        <div class="node node-page view-mode-full  contextual-links-region">

          <div class="summary wysiwyg">
            <p>En oväntad avåkning. Ett urladdat batteri. En borttappad nyckel. Punktering. En oroväckande
              lampblinkning. Då är det skönt att veta att man har en bra vägassistansförsäkring.&nbsp;</p>
          </div>

          <div class="page__body content__vertical-margin wysiwyg">
            <p>Med SBM Väghjälp blir du inte stående längs vägen. Ett samtal och du får snabb hjälp och bärgning via vår
              larmcentral hos Viking. Bäst av allt&nbsp;– inget krångel med skadeanmälan och ingen självrisk!</p>
            <p>Vilken sorts vägassistans passar just dig? Hos SBM erbjuder vi idag väghjälp för bil, mc och husbil. Vi
              har även försäkringen Väghjälp Person som är knuten till dig personligen och ger dig trygghet oavsett om
              du kör eller åker.</p>
            <h2>välj deN Vägassistansförsäkring som passar dig bäst</h2>
          </div>

          <div class="section content__vertical-margin">
            <div class="node node-section view-mode-full  section__puff-wrapper contextual-links-region">



              <div class="puff-grid">
                <div class="node node-puff view-mode-full image-puff bg-red contextual-links-region"
                  style="height: 208px;">

                  <a class="puff__link" href="/forsakringar/vagassistans/vaghjalp-bil">
                    <div class="puff__img"
                      style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/sbm_vaghjalp_triangel_2560x1024.jpg?itok=MZQ6JVff);">
                      <img typeof="foaf:Image"
                        src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/sbm_vaghjalp_triangel_2560x1024.jpg?itok=MZQ6JVff"
                        width="1200" height="675"> </div>

                    <div class="flair puff__flair-text">
                      59 kr/mån </div>

                    <div class="title">

                      <h3>Väghjälp Bil</h3>
                    </div>

                  </a> </div>
                <div class="node node-puff view-mode-full image-puff bg-green contextual-links-region"
                  style="height: 208px;">

                  <a class="puff__link" href="/forsakringar/vagassistans/vaghjalp-husbil">
                    <div class="puff__img"
                      style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/V%C3%A4ghj%C3%A4lpHusbil_puff_320x230_0.jpg?itok=yzNm9Wlc);">
                      <img typeof="foaf:Image"
                        src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/V%C3%A4ghj%C3%A4lpHusbil_puff_320x230_0.jpg?itok=yzNm9Wlc"
                        width="1200" height="675"> </div>

                    <div class="flair puff__flair-text">
                      595 kr/år </div>

                    <div class="title">

                      <h3>Väghjälp Husbil</h3>
                    </div>

                  </a> </div>
                <div class="node node-puff view-mode-full image-puff bg-green contextual-links-region"
                  style="height: 208px;">

                  <a class="puff__link" href="/forsakringar/vagassistans/vaghjalp-mc">
                    <div class="puff__img"
                      style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/V%C3%A4ghj%C3%A4lpMC_puff.jpg?itok=PdegQdrj);">
                      <img typeof="foaf:Image"
                        src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/V%C3%A4ghj%C3%A4lpMC_puff.jpg?itok=PdegQdrj"
                        width="1200" height="675"> </div>

                    <div class="flair puff__flair-text">
                      495 kr/år </div>

                    <div class="title">

                      <h3>Väghjälp MC</h3>
                    </div>

                  </a> </div>
                <div class="node node-puff view-mode-full image-puff bg-yellow contextual-links-region"
                  style="height: 208px;">

                  <a class="puff__link" href="/forsakringar/vagassistans/vaghjalp-person">
                    <div class="puff__img"
                      style="background-image: url(https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/Puff_vaghjalp-person320x230.jpg?itok=8KnQp6N6);">
                      <img typeof="foaf:Image"
                        src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/puff_image/public/puff/Puff_vaghjalp-person320x230.jpg?itok=8KnQp6N6"
                        width="1200" height="675"> </div>

                    <div class="flair puff__flair-text">
                      59 kr/mån </div>

                    <div class="title">

                      <h3>Väghjälp Person</h3>
                    </div>

                  </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <aside class="sidebar">
      <div class="page-sidebar-navigation">
        <h2 class="block-heading"><span title="" class="active-trail nolink">Försäkringar</span></h2>

        <ul class="menu">
          <li class="first leaf active-trail active menu-mlid-19591"><a href="/vagassistansforsakring"
              class="active-trail active">Vägassistansförsäkringar</a></li>
          <li class="leaf menu-mlid-19581"><a href="/forsakringar/bilplus">BilPlus</a></li>
          <li class="leaf menu-mlid-19586"><a href="/forsakringar/bilklok">BilKlok - för leasingbil</a></li>
          <li class="leaf menu-mlid-19551"><a href="/forsakringar/bilnyckel">Nyckelförsäkring</a></li>
          <li class="leaf menu-mlid-19561"><a href="/forsakringar/sjalvriskreducering-bilglas">Bilglasskada -
              självriskreducering</a></li>
          <li class="leaf menu-mlid-24906"><a href="/forsakringar/en-tryggare-vag-tillbaka">Vård och Krishjälp vid
              trafikolycka</a></li>
          <li class="last leaf menu-mlid-19546"><a href="/forsakringar/hemklok">HemKlok</a></li>
        </ul>
      </div>
    </aside>
  </div>
</main>