<div class="hero">
  <div class="page-hero grid-barrier clearfix contextual-links-region image-hero">
    <div class="hero__image hero__image—-loaded"
      style="background-image: url(&quot;https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/page_hero/public/sbm_vaghjalp_triangel_2560x1024.jpg?itok=3xOOkLlJ&quot;);"
      data-src="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/styles/page_hero/public/sbm_vaghjalp_triangel_2560x1024.jpg?itok=3xOOkLlJ">
    </div>
    <div class="hero__wrapper hero__wrapper-page">
      <div class="hero__wrapper__content clearfix">
        <div class="hero__flair">
          <div class="flair flair--large">
            När du behöver hjälp på vägen </div>
        </div>
        <div class="page__title">
          <h1>Väghjälp Bil</h1>
        </div>

        <div class="hero__list">
          <div class="hero__list-item">
            Vi tar dig hela vägen fram </div>
          <div class="hero__list-item">
            Hjälp på plats alt. gratis bärgning </div>
          <div class="hero__list-item">
            Helt utan självrisk! </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="content-wrapper grid-barrier">
  <div class="content-wrapper-inner">

    <div class="product node node-insurance view-mode-full  contextual-links-region">

      <article class="content">
        <div class="content__grid">
          <div class="mobile-link ">
            <div
              class="commerce-product-field commerce-product-field-commerce-price field-commerce-price node-1936-product-commerce-price has-product-period">

              <span class="product__price">59</span> <span class="product__currency">kr</span> <span
                class="product__period">/månad</span></div> <a class="btn" href="#buy-now">Köp här</a>
          </div>

          <div class="product__description content__vertical-margin wysiwyg">

            <p>Med SBM Väghjälpsförsäkring till din bil är hjälpen alltid nära, oavsett tid på dygnet. Mindre fel
              reparerar vi direkt på plats. Går&nbsp;inte det bärgar vi kostnadsfritt din bil till närmsta
              verkstad.&nbsp;Det bästa av allt – du betalar ingen självrisk, vi sköter all skadehantering åt dig och du
              slipper utlägg!</p>
          </div>

          <div class="section content__vertical-margin">
            <div class="node node-section view-mode-full  section__text-wrapper contextual-links-region">




              <div class="section__body wysiwyg">
                <p style="-webkit-font-smoothing: antialiased; -webkit-tap-highlight-color: transparent;">Vi hjälper
                  dig! <strong>Väghjälp Bil</strong> - en självklar vägassistansförsäkring till dig som vill känna dig
                  trygg.</p>
                <h4>VI HJÄLPER DIG VID</h4>
                <ul>
                  <li>Punktering</li>
                  <li>Urladdat batteri</li>
                  <li>Starthjälp</li>
                  <li>Avåkning</li>
                  <li>Motorhaveri</li>
                  <li>Bränslebrist</li>
                  <li>Låsöppning</li>
                  <li>Kollision</li>
                  <li>Tekniska fel</li>
                </ul>
                <h4>&nbsp;</h4>
                <h4>DU FÅR</h4>
                <ul>
                  <li>Hjälp på plats</li>
                  <li>Bärgning</li>
                  <li>Ersättning för missad avgång med tåg, flyg, eller båt pga problem med bilen upp till 10 000 kr
                  </li>
                  <li>Ersättning för hyrbil, hotell eller hemresa&nbsp;upp till 3 000 kr</li>
                  <li>Hjälp även vid driftstopp på tillkopplat släp eller husvagn</li>
                  <li>Täcker kostnad för TMA bil upp till 10 000 kr. (TMA bilar krävs vid vissa stora vägar för ökad
                    säkerhet)</li>
                  <li>Ingen mil- eller åldersbegränsning</li>
                  <li>0 kr i självrisk!</li>
                </ul>
                <p>OBS! Försäkringen gäller i 12 månader och ett erbjudande om förlängning kommer att skickas ut till
                  dig i god tid innan din försäkringsperiod går ut.</p>
              </div>
            </div>
            <div
              class="node node-section drop-down-active view-mode-full  section__info-wrapper contextual-links-region">


              <div class="content-wrapper__info">

                <div class="section__summary wysiwyg">
                  <h4>0771 88 89 90&nbsp;– Larmnumret till Väghjälp</h4>
                  <p>Vår larmcentral hos vår partner Viking hjälper dig dygnet runt, året om i hela Europas Gröna
                    Kort-område. Mindre fel reparerar vi direkt på plats . Går inte det bärgar vi din bil till närmaste
                    verkstad .</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </article>

      <aside class="sidebar">
        <div class="sidebar__product-container ">
          <div class="product__campaign-style-wrapper">
            <div
              class="commerce-product-field commerce-product-field-field-product-campaign-style field-field-product-campaign-style node-1936-product-field-product-campaign-style has-product-period">
              <div class="field-product-campaign-style">

                0 </div>
            </div>
          </div>
          <div class="product__campaign-label-wrapper">
            <div
              class="commerce-product-field commerce-product-field-field-product-campaign-label field-field-product-campaign-label node-1936-product-field-product-campaign-label has-product-period commerce-product-field-empty">
            </div>
          </div>
          <div class="buy-now__title">
            <div class="field-buy-now-title">

              BESTÄLL HÄR </div>
          </div>
          <div class="product__price-wrapper" id="buy-now">
            <div
              class="commerce-product-field commerce-product-field-commerce-price field-commerce-price node-1936-product-commerce-price has-product-period">

              <span class="product__price">59</span> <span class="product__currency">kr</span> <span
                class="product__period">/månad</span></div>
          </div>
          <div class="product__pre-price-wrapper">
            <div
              class="commerce-product-field commerce-product-field-field-product-campaign-pre-price field-field-product-campaign-pre-price node-1936-product-field-product-campaign-pre-price has-product-period commerce-product-field-empty">
            </div>
          </div>

          <div
            class="commerce-product-field commerce-product-field-field-shared-subscription field-field-shared-subscription node-1936-product-field-shared-subscription has-product-period">
            <div class="product__subscription">

              <span class="product__subscription-title">Försäkringsperiod</span>
              12 månader </div>
          </div>
          <div class="buy-now__description"></div>
          <div class="product__form-wrapper">



            <form class="commerce-add-to-cart commerce-cart-add-to-cart-form-96 in-stock"
              action="/forsakringar/vagassistans/vaghjalp-bil" method="post" id="commerce-cart-add-to-cart-form-96"
              accept-charset="UTF-8">
              <div><input type="hidden" name="product_id" value="96">
                <input type="hidden" name="form_build_id" value="form-qt_EaNRu_BH997Ep-3S1E19h-XhniHCEKBxul_FwVAE">
                <input type="hidden" name="form_id" value="commerce_cart_add_to_cart_form_96">
                <input type="hidden" name="honeypot_time"
                  value="1600378819|Cx0p6x8aSClyRwI2saP-sUIwHFKZrredOYtv6sXMfe8">
                <div id="edit-line-item-fields" class="form-wrapper"></div><input type="hidden" name="quantity"
                  value="1">
                <div class="url-textfield">
                  <div class="form-item form-type-textfield form-item-url">
                    <label for="edit-url">Leave this field blank </label>
                    <input autocomplete="off" type="text" id="edit-url" name="url" value="" size="20" maxlength="128"
                      class="form-text">
                  </div>
                </div><a href="/checkout/44771" id="edit-ocb-submit" name="ocb" class="form-submit">Beställ nu!</a>
              </div>
            </form>
          </div>

          <div class="buy-now__undertext"></div>

          <div class="insurance-check">
            <div class="buy-now__title">Postnummer</div>
            <div class="buy-now__description">Denna försäkring gäller enbart utvalda postnummer.</div>
            <div class="insurance-check__form">
              <input type="text" class="insurance-check__input" placeholder="12345">
              <input type="submit" class="insurance-check__submit" value="Kolla ditt postnummer">
            </div>
          </div>
        </div>

        <div class="download__files">
          <h2 class="block-heading">Dokument</h2>
          <div class="block-list">
            <div class="block-list-item">
              <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/006_IPID_V%C3%A4ghj%C3%A4lp-Bil_2020.pdf"
                class="file-download-link" target="_blank" rel="noreferrer noreferrer">Försäkringsfaktablad Väghjälp Bil
                (pdf)</a> </div>
            <div class="block-list-item">
              <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/insurance/F106_f%C3%B6rk%C3%B6psinformation_V%C3%A4ghj%C3%A4lp-BIL_2020.pdf"
                class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation Väghjälp Bil
                (pdf)</a> </div>
            <div class="block-list-item">
              <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/insurance/SBM_Villkor_V%C3%A4ghj%C3%A4lp_2020.pdf"
                class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor Väghjälp Bil (pdf)</a>
            </div>
          </div>
        </div>
      </aside>
    </div>

    <article class="clearfix">
      <div class="field-collection-container clearfix">
        <div class="field-dyncampaign-blocks">

        </div>
      </div>
    </article>
  </div>
</main>