<div class="hero">
  <div class="page-hero grid-barrier clearfix contextual-links-region no-image-hero">
    <div class="hero__wrapper hero__wrapper-page">
      <div class="hero__wrapper__content clearfix">

        <div class="page__title">
          <h1>SBM Villkor</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="content-wrapper grid-barrier">
  <div class="content-wrapper-inner">

    <div class="content__grid">
      <div class="node node-page view-mode-full  contextual-links-region">

        <div class="page__body content__vertical-margin wysiwyg">
          <p>Här finns villkor och förköpsinformation för SBMs försäkringar</p>
        </div>

        <div class="section content__vertical-margin">
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>BilKlok</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation för försäkringen BilKlok<br><a
                    href="https://www.sbmforsakring.se/forsakringar/bilklok" target="_blank"
                    rel="noopener noreferrer">Läs mer om BilKlok</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F119_Forkopsinformation_BilKlok_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    BilKlok, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilKlok_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilKlok, tecknad
                    från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_BILKLOK_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Bilklok, teknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_BilKlok_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilKlok, tecknad
                    från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilKlok%20med%20r%C3%A4ttsskydd_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilKlok, tecknad
                    mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>BilPlus</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen BilPlus<br><a
                    href="https://www.sbmforsakring.se/forsakringar/bilplus">Läs mer om BilPlus</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilPlus_20190601_0.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus, tecknad
                    från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_BilPlus_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus, tecknad
                    från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilPlus_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus, tecknad
                    mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F101_Forkopsinformation_BilPlus_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation BilPlus
                    (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>BilPlus Assistans</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du alla villkor relaterade till försäkringen BilPlus Assistans</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilPlusAssistans_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus Assistans
                    tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_BilPlus%20Assistans_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    BilPlus Assistans, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_BilPlusAssistans_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus
                    Assistans, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_BilPlusAssistans_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för BilPlus
                    Assistans, tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F112_Forkopsinformation_BilPlusAssistans_1juni2019.pdf"
                    class="file-download-link" target="_blank"
                    rel="noreferrer noreferrer">F112_Forkopsinformation_BilPlusAssistans_1juni2019.pdf (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>HemKlok</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du alla villkor relaterade till försäkringen&nbsp;HemKlok<br><a title="Läs mer om HemKlok"
                    href="https://www.sbmforsakring.se/forsakringar/hemklok" target="_blank"
                    rel="noopener noreferrer">Läs mer om HemKlok</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_HemKlok_20160101.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer"> Villkor för HemKlok, tecknad
                    från 2016-01-01 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Nyckelförsäkring</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för vår Nyckelförsäkring<br><a
                    href="https://www.sbmforsakring.se/forsakringar/bilnyckel">Läs mer om Nyckelförsäkring</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F105_Forkopsinformation_Nyckelforsakring_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Nyckelförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_Nyckelf%C3%B6rs%C3%A4kring_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Nyckelförsäkning,
                    tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_Nyckelf%C3%B6rs%C3%A4kring_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Nyckelförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_Nyckelf%C3%B6rs%C3%A4kring_20180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Nyckelförsäkning,
                    tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_Bilnyckel_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Bilnyckelförsäkring, tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp Bil</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation relaterade till försäkringen Väghjälp Bil<br><a
                    title="Läs mer om Väghjälp Bil"
                    href="https://www.sbmforsakring.se/forsakringar/vagassistans/vaghjalp-bil">Läs mer om Väghjälp
                    Bil</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F106_Forkopsinformation_VaghjalpFordon_1juni2019_1.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälpsförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpFordon_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring tecknad från 2019-06-01. (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_V%C3%A4ghj%C3%A4lp_Fordon_180801_1.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpBil_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp Bil,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp Person</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen Väghjälp Person<br><a
                    title="Läs mer om Väghjälp Person"
                    href="https://www.sbmforsakring.se/forsakringar/vagassistans/vaghjalp-person" target="_blank"
                    rel="noopener noreferrer">Läs mer om Väghjälp Person</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F109_Forkopsinformation_VaghjalpPerson_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp Person, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lp_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation%20V%C3%A4ghj%C3%A4lp_Person_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp Person, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpPerson_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp Person,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp MC</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen&nbsp;Väghjälp MC<br><a
                    title="Läs mer om Väghjälp MC"
                    href="https://www.sbmforsakring.se/forsakringar/vagassistans/vaghjalp-mc" target="_blank"
                    rel="noopener noreferrer">Läs mer om Väghjälp MC</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F106_Forkopsinformation_VaghjalpFordon_1juni2019_2.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp MC, tecknad från 2019-06-01. (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpFordon_20190601_0.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp Bil
                    (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_V%C3%A4ghj%C3%A4lp_Fordon_180801_1.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpMC_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp MC,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp Husbil</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen Väghjälp Husbil<br><a
                    title="Läs mer om Väghjälp Husbil"
                    href="https://www.sbmforsakring.se/forsakringar/vagassistans/vaghjalp-husbil" target="_blank"
                    rel="noopener noreferrer">Läs mer om Väghjälp Husbil</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F106_Forkopsinformation_VaghjalpFordon_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp Husbil tecknad från 2019-06-01. (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lp_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation%20V%C3%A4ghj%C3%A4lp_Fordon_180801_2.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp Fordon, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpHusbil_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp Husbil,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp via Besikta</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du alla villkor relaterade till försäkringen&nbsp;Väghjälp via Besikta</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F123_Forkopsinformation_Besikta_3mFri_Vaghjalp_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Besikta Fri Period, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F120_Forkopsinformation_Besikta_Vaghjalp_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Besikta, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lp_via_Besikta_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp via
                    Besikta, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_V%C3%A4ghj%C3%A4lp_Besikta_3%20m%C3%A5n_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Besikta Fri Period (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_Besikta_3m_grupp_2018-08-01_0.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Fullständiga villkor för
                    Väghjälp via Besikta Fri period, 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation_V%C3%A4ghj%C3%A4lp_Besikta_12%20m%C3%A5n_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Besikta, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_Besikta_12m_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Fullständiga villkor för
                    Väghjälp Besikta, 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lp%20via%20Besikta_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp via
                    Besikta, tecknad från 2017-10-01 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp via Blocket</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du&nbsp;förköpsinformation&nbsp;och&nbsp;villkor relaterade till
                  försäkringen&nbsp;Väghjälp via Blocket</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F121_Forkopsinformation_Blocket_3mFri_Vaghjalp_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Blocket Fri period, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F124_Forkopsinformation_Blocket_Vaghjalp_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Blocket, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lp_20190601_1.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_Vaghjalp_Fri_SBMForsakring.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Blocket Fri Period (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Fullstandiga_villkor_Vaghjalp_Fri_SBMForsakring.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Fullständiga villkor för
                    Väghjälp via Blocket Fri period (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Fullst%C3%A4ndiga%20villkor_%20V%C3%A4ghj%C3%A4lp_%20SBM%20F%C3%B6rs%C3%A4kring.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Fullständiga villkor för
                    Väghjälp via Blocket (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F%C3%B6rk%C3%B6psinformation%20V%C3%A4ghj%C3%A4lp_%20SBM%20F%C3%B6rs%C3%A4kring.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Väghjälp via Blocket (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Väghjälp Bil 17 Plus</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor för försäkringen&nbsp;Väghjälp Bil 17 Plus</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_V%C3%A4ghj%C3%A4lp_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Väghjälpsförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A4ghj%C3%A4lpBi17Plus_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Väghjälp Bil 17
                    Plus, tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Vård &amp; Krishjälp</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor för&nbsp;försäkringen&nbsp;Vård &amp; Krishjälp</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F126_Forkopsinformation_VardochKris_NE_190306.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för Vård
                    och Krishjälp, 2019-04-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_V%C3%A5rdochKris_20190401.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Vård &amp;
                    Krishjälp, tecknad från 2019-04-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/V113_Villkor%20VK_2018maj.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Vård &amp;
                    Krishjälp, tecknad från 2017-01-01 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Bilglasförsäkring / Självriskreducering vid bilglasskada</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation för försäkringen Bilglasförsäkring/Självriskreducering
                  vid bilglasskada<br><a title="Läs mer om vår Glasförsäkring"
                    href="https://www.sbmforsakring.se/forsakringar/sjalvriskreducering-bilglas" target="_blank"
                    rel="noopener noreferrer">Läs mer om vår Bilglasförsäkring</a></p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F111_Forkopsinformation_Bilglasforsakring_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Bilglasförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_Bilglasf%C3%B6rs%C3%A4kring_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Bilglasförsäkring, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_Bilglasforsakring_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Bilglasförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_Bilglasf%C3%B6rs%C3%A4kring_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Bilglasförsäkring, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_GF_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Självriskreducering vid bilglasskada, tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Självriskreducering Bas</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen&nbsp;Sjävriskreducering Bas</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/V127_Villkor_Sj%C3%A4lvriskreducering%20Bas_201906.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor Självriskreducering
                    Bas (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F127_Forkopsinformation_Sj%C3%A4lvriskreducering%20Bas.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation
                    Självriskreducering Bas (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Självriskreducering Bil via Insplanet</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation relaterade till försäkringen&nbsp;Självriskreducering
                  Bil.&nbsp;</p>
                <p>Observera att karenstiden på 30 dagar enligt villkoren ej tillämpas för din försäkring tecknad via
                  Insplanet.</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F125_Forkopsinformation_Sj%C3%A4lvriskreduceringBil_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Självriskreducering Bil, 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_Sj%C3%A4lvriskreduceringBiloMC_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Självriskreducering Bil, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_Sjalvriskreducering%20Bil_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Självriskreducering Bil, 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_Sj%C3%A4lvriskreducering-Bil_o_MC_SBM_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för
                    Självriskreducering Bil, 2018-08-01 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Stöldskydd Plus</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation för försäkringen Stöldskydd Plus</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F104_Forkopsinformation_StoldskyddPlus_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Stöldskydd Plus, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_St%C3%B6ldskyddPlus_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Plus,
                    tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_StoldskyddPlus_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Stöldskydd Plus, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_St%C3%B6ldskydd%20Plus_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Plus,
                    tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_St%C3%B6ldskyddPlus_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Plus,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
          <div class="node node-section view-mode-full  section__info-wrapper contextual-links-region">


            <div class="section__title">
              <h2>Stöldskydd Total</h2>
            </div>

            <div class="content-wrapper__info">

              <div class="section__summary wysiwyg">
                <p>Här hittar du villkor och förköpsinformation&nbsp;för försäkringen&nbsp;Stöldskydd Total</p>
              </div>

              <div class="section__files">
                <div class="section__files-title">Ladda ner</div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/F103_Forkopsinformation_StoldskyddTotal_1juni2019.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Stöldskydd Total, tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_St%C3%B6ldskyddTotal%20_20190601.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Total,
                    tecknad från 2019-06-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Forkopsinformation_StoldskyddTotal_180801.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Förköpsinformation för
                    Stöldskydd Total, tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_St%C3%B6ldskydd%20Total_2018-08-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Total,
                    tecknad från 2018-08-01 (pdf)</a></div>
                <div class="file file-document file-application-pdf view-mode-teaser  contextual-links-region">
                  <a href="https://www.sbmforsakring.se/sites/sbmforsakring.se/files/section/Villkor_SBM_St%C3%B6ldskydd%20Total_2017-10-01.pdf"
                    class="file-download-link" target="_blank" rel="noreferrer noreferrer">Villkor för Stöldskydd Total,
                    tecknad mellan 2017-10-01 och 2018-07-31 (pdf)</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>