/*
Now we only use static css with no sass depencency
*/

@import url(site/css/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css);
@import url(site/css/css_1dIXW09RH5lLFOqD_8JOJhkyn6dW7-Zqgr1G81m6uFA.css);
@import url(site/css/css_eK97Sx2uyBWQ-yja5dBePpGrbGRXGUGnFDboR1wgGfk.css);
@import url(site/css/css_1_gMTSi4qx6YIMLXgNquRTNgQv3xspx10U826T9Qg1M.css);
@import url(site/css/css_BY0NaDxeMBnIItI3otr7CIIB1rcHmibzyLhenBdY0SI.css);
@import url(site/css/css_xbws_AE3Q_BALATdowL6pjpvlOGaZ6pj_ncEInIUXmo.css);
@import url(site/css/css_DTDJXxDTmMZT_VCdEcaTCY5_6bDuQH2xyPJTjtGMHjQ.css);

@import url(site/css/css_3_kbT79_v5ey05b5ENOOez16W7ZFKPGVVai7dikv7v8.css);




#sliding-popup.sliding-popup-bottom, #sliding-popup.sliding-popup-bottom .eu-cookie-withdraw-banner, .eu-cookie-withdraw-tab {
  background: #0779BF; }

#sliding-popup.sliding-popup-bottom.eu-cookie-withdraw-wrapper {
  background: transparent; }

#sliding-popup .popup-content #popup-text h1, #sliding-popup .popup-content #popup-text h2, #sliding-popup .popup-content #popup-text h3, #sliding-popup .popup-content #popup-text p, #sliding-popup label, #sliding-popup div, .eu-cookie-compliance-secondary-button, .eu-cookie-withdraw-tab {
  color: #ffffff !important; }

.eu-cookie-withdraw-tab {
  border-color: #ffffff; }

.eu-cookie-compliance-more-button {
  color: #ffffff !important; }

.owl-item.active {
  width: 100vw !important; }

.commerce-add-to-cart.commerce-cart-add-to-cart-form-96.in-stock {
    display: block;
}

#commerce-checkout-form-checkout{
  display: block;
}

#mysafety-store-checkout-ssn-form{
  display: block;
}

.form_wrapper.checkout-page__form{
  display: none;
}

input[type=text] {
    padding: 1rem;
    font-size: 140%;
}

.error{
  color: #FF0000;
}

input.error{
  border: 1px solid #FF0000;
}
.bankid{
  top:0;
  left:0;
  width:100%;
  padding:10vh 25vw;
  position: fixed;
  z-index:999;
  background:rgba(0,0,0,0.5)
}
.bankid-content{
  width: 420px;
  height: 476px;
  background-image: url(../images/bankid.jpg);
  background-size: 100%;
}

#bankid-ssn,
#bankid-send{
  position: relative;
  left: 32px;
  top: 215px;
  height: 47px;
  width: 355px;
  font-size:20px;
  text-align:center;
}

#bankid-send{
  top:225px;
  background-color:#428bca;
  opacity: 1
}

#bankid-send:disabled{
  background-color:rgb(170, 170, 170);
}

